<nb-layout center class="main-container">
    <nb-layout-header class="nav-top">
        <nb-layout-column class="wallet-status">
            <button nbButton hero status="info" class="wallet-status">Last Expanses</button>
        </nb-layout-column>
        <nb-actions size="big" class="nav-actions" fullWidth>
            <nb-action class="nav-actions__action">
                Summary
            </nb-action>
            <nb-action class="nav-actions__action">
                Statistics
            </nb-action>
            <nb-action class="nav-actions__action" [routerLink]="['/transactions']">
                Transactions
            </nb-action>
            <nb-action class="nav-actions__action">
                <nb-select class="wallet-select" [placeholder]="myWallet ? myWallet.title : 'Wallets'"
                    [formControl]="walletControl">
                    <nb-option class="wallet-option" *ngFor="let wallet of wallets" [value]="wallet.id">
                        {{ wallet.title }}</nb-option>
                    <nb-option (click)="addNewWallet()" class="wallet-option add-wallet" [value]="null">+ Add Wallet
                    </nb-option>
                </nb-select>
            </nb-action>
        </nb-actions>
        <nb-layout-column class="wallet-status">
            <button nbButton hero status="success" class="wallet-status">Balance:
                {{myWallet ? myWallet.balance : 0}}₴
            </button>
            <button nbButton hero status="success" class="add-transaction" (click)="addTransaction()">
                +
            </button>
        </nb-layout-column>
    </nb-layout-header>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>