<nb-layout center>
    <nb-layout-header subheader>
        <nb-actions size="big" class="nav-actions" fullWidth>
            <nb-action class="nav-actions__action">
                Dashboard
            </nb-action>
            <nb-action class="nav-actions__action">
                Statistics
            </nb-action>
            <nb-action class="nav-actions__action">
                Transactions
            </nb-action>
            <nb-action class="nav-actions__action">
                Wallets
            </nb-action>
        </nb-actions>
    </nb-layout-header>

    <nb-layout-column>
    </nb-layout-column>
</nb-layout>