.item-container {
	cursor: pointer;
}

.options-container {
	display: none;
}

.hide-item {
	visibility: hidden;
}

.fade-body-backdrop {
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.options-slide {
	color: #ffffff;
	z-index: 11;
	border: 0 !important;
	position: absolute;
	transform: translateY(-100px);
}

::ng-deep {
	.options-slide * {
		margin-bottom: 0 !important;
	}

	.fade-body-backdrop {
		background-color: rgba($color: #000000, $alpha: 0.5);
		transition: all 200ms ease-in-out;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}
