<div class="item-container" (click)="onItemClick()" #itemContainer [ngClass]="{'hide-item': hasAttachedView}">
    <ng-container [ngTemplateOutlet]="itemTemplate"></ng-container>
</div>

<div #containerWithOptions>
    <div class="options-slide" *ngIf="isOpened" #optionsRef @moveUp>
        <ng-container [ngTemplateOutlet]="itemTemplate"></ng-container>
        <div class="options-to-show" @appearOptions>
            <ng-container [ngTemplateOutlet]="menuTemplate"></ng-container>
        </div>
    </div>
</div>