<nb-card *ngIf="isLoaded">
    <nb-card-header>Add Transaction</nb-card-header>
    <nb-card-body class="main-container">
        <form [formGroup]="sumForm">
            <div class="sum-input-wrapper">
                <input class="sum-input" formControlName="value" type="text" nbInput fullWidth
                    placeholder="Enter Value">
                <nb-select class="currency-select" formControlName="currency" size="'medium'">
                    <nb-select-label>
                        {{ currencySymbols[sumForm.controls.currency.value] }}
                    </nb-select-label>
                    <nb-option *ngFor="let currency of currencies | keyvalue | slice:0:4" [value]="+currency.key">
                        {{ currency.value }}
                    </nb-option>
                </nb-select>
            </div>
            <app-validation-messages *ngIf="sumForm.controls.value.invalid && sumForm.controls.value.touched"
                [errors]="sumForm.controls.value.errors"></app-validation-messages>
        </form>
        <nb-tabset class="transaction-tabs" (changeTab)="onTabChange()">
            <nb-tab tabTitle="Outgoings">
                <div class="tab-body">
                    <ul class="categories-list">
                        <li class="category-tile-add">
                            <button nbButton hero status="success" class="add-category-btn" [nbPopover]="addPopover"
                                [nbPopoverPlacement]="popoverPos">+</button>
                        </li>
                        <li class="category-tile category-tile--no"
                            [ngClass]="{'selected-category': selectedOItem === -1}"
                            (click)="updateSelected(-1, 'outgoing')">
                            No Category
                        </li>
                        <li *ngIf="walletCategories.list" class="categories-list">
                            <div class="category-tile" *ngFor="let category of walletCategories.list.outgoingCategories"
                                [ngStyle]="{'border-color': category.color}"
                                [ngClass]="{'selected-category': selectedOItem === category.id}"
                                (click)="updateSelected(category.id, 'outgoing')">
                                {{ category.name }}
                            </div>
                        </li>
                    </ul>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Income">
                <div class="tab-body">
                    <ul class="categories-list">
                        <li class="category-tile-add">
                            <button nbButton hero status="success" class="add-category-btn" [nbPopover]="addPopover"
                                [nbPopoverPlacement]="popoverPos">+</button>
                        </li>
                        <li class="category-tile category-tile--no"
                            [ngClass]="{'selected-category': selectedIItem === -1}"
                            (click)="updateSelected(-1, 'income')">
                            No Category
                        </li>
                        <li *ngIf="walletCategories.list" class="categories-list">
                            <div class="category-tile" *ngFor="let category of walletCategories.list.incomeCategories"
                                [ngStyle]="{'border-color': category.color}"
                                [ngClass]="{'selected-category': selectedIItem === category.id}"
                                (click)="updateSelected(category.id, 'income')">
                                {{ category.name }}
                            </div>
                        </li>
                    </ul>
                </div>
            </nb-tab>
        </nb-tabset>
        <div class="date-selection">
            <button class="yesterday-toggle" nbButton [outline]="selectedDateTypeIdx !== 0" (click)="changeDate(0)"
                status="primary">Yesterday</button>
            <button class="today-toggle" nbButton [outline]="selectedDateTypeIdx !== 1" (click)="changeDate(1)"
                status="primary">Today</button>
            <input class="date-input-toggle" [(ngModel)]="selectedDate" nbInput placeholder="Another Date"
                [nbDatepicker]="formpicker" (click)="changeDate(2)">
            <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <textarea class="note-input" nbInput fullWidth placeholder="Note" [(ngModel)]="description"></textarea>
    </nb-card-body>
    <nb-card-footer>
        <div class="buttons-container">
            <button class="form-button" nbButton hero status="danger" (click)="closeDialog(false)">
                Cancel
            </button>
            <button class="form-button form-button--success" nbButton hero status="success" (click)="onSubmit()"
                [disabled]="sumForm.invalid">
                Add New
            </button>
        </div>
    </nb-card-footer>
</nb-card>

<ng-template #addPopover>
    <nb-card class="add-category-wrapper">
        <input class="cat-name-input" [formControl]="catName" type="text" nbInput fullWidth fieldSize="medium"
            placeholder="Name" [ngStyle]="{'border-color': color}">
        <input [value]="color" class="color-input" [(colorPicker)]="color" [style.background]="color" />
        <button nbButton hero status="success" class="add-category-btn-popover" (click)="addCategory()">+</button>
    </nb-card>
</ng-template>