<div class="budgets-container">
    <nb-layout-column *ngIf="isLoaded">
        <nb-card class="list-wrapper">
            <nb-card-header>
                Budgets
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let budget of budgetsList">
                    <app-show-options>
                        <ng-template testActionItem>
                            <nb-card class="budget-tile">
                                <span class="budget-name">
                                    {{ budget.name }}
                                </span>
                                <span class="budget-value">
                                    {{ budget.value + ' ' + currencySymbols[currWallet.currency]}}
                                </span>
                                <nb-progress-bar [value]="getProgressBarValue(budget.value, budget.valueUsed)"
                                    [status]="getProgressBarStatus(budget.value, budget.valueUsed)">
                                    {{ budget.valueUsed + currencySymbols[currWallet.currency]}}
                                </nb-progress-bar>
                            </nb-card>
                        </ng-template>
                        <ng-template testOptionsToShow>
                            <div class="categories-show">
                                <div class="category-tile" *ngFor="let cat of budget.categories"
                                    [ngStyle]="{'border-color': getColor(cat)}">
                                    {{ getName(cat) }}
                                </div>
                            </div>
                            <ul class="options-bottom">
                                <li (click)="onEdit(budget)">Edit</li>
                                <li (click)="onDelete(budget)" class="red-text">Delete</li>
                            </ul>
                        </ng-template>
                    </app-show-options>
                </nb-list-item>
            </nb-list>
        </nb-card>
        <div class="add-budget">
            <nb-card>
                <nb-card-body>
                    <button class="add-budget-button" nbButton hero status="success" (click)="addNewBudget()">
                        <span class="plus-sign">+&nbsp;</span>
                        <span class="add-text">Add new budget</span>
                    </button>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-layout-column>
</div>