<div class="budgets-container">
    <nb-layout-column *ngIf="isLoaded">
        <nb-card class="list-wrapper">
            <nb-card-header>
                Budgets
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let budget of budgetsList">
                    <div class="budget-tile">
                        <span class="budget-name">
                            {{ budget.name }}
                        </span>
                        <span class="budget-value">
                            {{ budget.value + ' ' + currencySymbols[currWallet.currency]}}
                        </span>
                        <nb-progress-bar [value]="20"></nb-progress-bar>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
        <div class="add-budget">
            <nb-card>
                <nb-card-body>
                    <button class="add-budget-button" nbButton hero status="success" (click)="addNewBudget()">
                        <span class="plus-sign">+&nbsp;</span>
                        <span class="add-text">Add new budget</span>
                    </button>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-layout-column>
</div>